<div class="background">
    <br>
    <div class="row">
        
        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Favorite Movies</h5>
                <p class="card-text">•	Inception</p>
                <p class="card-text">•	Kill Bill: Volume 1</p>
                <p class="card-text">•	The Matrix</p>
                <p class="card-text">•	Shrek 2</p>
                <p class="card-text">•	The Boy</p>
                <p class="card-text">•	Batman: The Dark Knight</p>
                <p class="card-text">•	Get Out</p>
                <p class="card-text">•	Spaceballs</p>
            </div>
        </div>

        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Favorite TV Shows</h5>
                <p class="card-text">•	Breaking Bad</p>
                <p class="card-text">•	Better Call Saul</p>
                <p class="card-text">•	Severance</p>
                <p class="card-text">•	Bojack Horseman</p>
                <p class="card-text">•	Nathan For You</p>
                <p class="card-text">•	Bones</p>
                <p class="card-text">•	Hunter x Hunter</p>
                <p class="card-text">•	SpongeBob SquarePants</p>
            </div>
        </div>
    
        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Favorite Video Games</h5>
                <p class="card-text">•	Super Smash Bros. Melee</p>
                <p class="card-text">•	Super Mario 64</p>
                <p class="card-text">•	Dark Souls</p>
                <p class="card-text">•	Hollow Knight</p>
                <p class="card-text">•	Call of Duty: Black Ops 2</p>
                <p class="card-text">•	Heroes of the Storm</p>
                <p class="card-text">•	VALORANT</p>
                <p class="card-text">•	Fortnite</p>
            </div>
        </div>

        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Favorite Sports Teams</h5>
                <p class="card-text">•	St. Louis Blues</p>
                <p class="card-text">•	St. Louis Cardinals</p>
                <p class="card-text">•	Minnesota Timberwolves</p>
                <p class="card-text">•	St. Louis City SC</p>
                <p class="card-text">•	Mizzou Men's Basketball</p>
            </div>
        </div>
    </div>
    <br>
</div>