<div class="background">
    <br>
    <div class="row">
        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Introduction</h5>
                <p class="card-text">Hi! My name is Cory Free and I am an aspiring software engineer. I've been coding since I was in high school, 
                    and I am eager to continue my professional career as a developer. </p>
                
                <h5 class="card-title">Future Aspirations</h5>
                <p class="card-text">To continue developing my programming skills and become proficient in multiple programming languages, 
                    as well as spending my time working on innovative and impactful projects that solve complex problems and have a positive impact on society.
                </p>
            </div>
        </div>
        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Programming Languages</h5>
                <p class="card-text">•	Java: 3 Years</p>
                <p class="card-text">•	HTML/CSS: 3 Years</p>
                <p class="card-text">•	Angular: 1.5 Years</p>
                <p class="card-text">•	Spring Framework: 1.5 Years</p>
                <p class="card-text">•	MySQL: 3 Years</p>
                <p class="card-text">•	C++: 1 Year</p>
                <p class="card-text">•	Python: 2 Year</p>
                <p class="card-text">•	Git/Github: 3 Years</p>
                <p class="card-text">•	Postman: 1 Year</p>
            </div>
        </div>
        <div class="card container" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Projects</h5>
                <p class="card-text">•	Flight Management System: Single page application for basic CRUD operations</p>
                <p class="card-text">•	Simulated Annealing project to construct an optimal university's class schedule</p>
                <p class="card-text">•	Program to solve an 8-Puzzle in the lowest amount of moves</p>
                <p class="card-text">•	Developed a version of the game Snake in Python</p>
                <p class="card-text">•	This website! Made entirely with Angular</p>
                <p class="card-text">•	<a href="https://github.com/coryfree">Github Account</a></p>
            </div>
        </div>
    </div>
    <br>
</div>