<div class="background">
    <br>
    <div class="row">
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Full Stack Developer</i> - Skillstorm</h5>
                <p class="card-text right">July 2021 - Nov. 2022</p>
                <p class="card-text">•	Successfully developed a Telecom Customer Portal front-end to back-end, allowing users to create an account, select phones, and add plans to their accounts</p>
                <p class="card-text">•	Implemented a single-page application Flight Management System for basic CRUD operations</p>
                <p class="card-text">•	Collaborated with Tech Mahindra to monitor and report the daily status of multiple projects using AT&T DataFlow software</p>
                <p class="card-text">•	Performed basic Kubernetes commands for checking backend logs and status of running pods</p>
                <p class="card-text">•	Cooperated and partnered with team members to make bug fixes and updated old code</p>
            </div>
        </div>
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Line Associate</i> - Waterway Carwash</h5>
                <p class="card-text right">Nov. 2019 - July 2021</p>
                <p class="card-text">•	Successfully cleaned the interior and exterior of cars in a busy, hectic environment</p>
                <p class="card-text">•	Communicated well with others and performed duties using great teamwork for success</p>
                <p class="card-text">•	Operate and maintain car wash equipment to ensure effective and efficient cleaning of vehicles</p>
                <p class="card-text">•	Provide excellent customer service by addressing any concerns and ensuring customer satisfaction</p>
                <p class="card-text">•	Adhere to safety guidelines and regulations, and report any malfunctions or issues with equipment</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Sales Associate/Freight Team</i> - Five Below</h5>
                <p class="card-text right">June 2019 - August 2019</p>
                <p class="card-text">•	Operate cash registers and handle financial transactions accurately and efficiently</p>
                <p class="card-text">•	Assist customers in locating products and answering questions about merchandise</p>
                <p class="card-text">•	Improved customer experience using active listening skills, attention to detail, and effective communication</p>
                <p class="card-text">•	Promote current sales and discounts to customers to encourage purchasing</p>
                <p class="card-text">•	Assisted with unloading shipping trucks, stocking shelves, and managing store inventory</p>
            </div>
        </div>
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Desk Assistant</i> - Rockhurst University</h5>
                <p class="card-text right">August 2017 - May 2019</p>
                <p class="card-text">•	Greet and assist residents, guests, and visitors with inquiries and concerns</p>
                <p class="card-text">•	Fostered a welcoming and inclusive environment for all residents and uphold the values of the residence hall community</p>
                <p class="card-text">•	Maintain cleanliness and organization of the front desk area and lobby</p>
                <p class="card-text">•	Monitor building access and enforce residence hall policies and regulations</p>
                <p class="card-text">•	Attend staff meetings, training sessions, and participate in on-call duties as required</p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Dishwasher</i> - Red Robin</h5>
                <p class="card-text right">June 2018 - August 2018</p>
                <p class="card-text">•	Load, operate, and unload commercial dishwashing equipment</p>
                <p class="card-text">•	Clean and maintain the dishwashing area, including sweeping and mopping floors and wiping down surfaces</p>
                <p class="card-text">•	Assist kitchen staff with basic food preparation tasks, as needed</p>
                <p class="card-text">•	Adhere to health and safety guidelines and regulations, including proper use of protective equipment and handling of hazardous chemicals</p>
                <p class="card-text">•	Work effectively and efficiently in a fast-paced, team-oriented environment</p>
            </div>
        </div>
        <div class="card container" style="width: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><i>Dining Service Associate</i> - Breeze Park LSS</h5>
                <p class="card-text right">July 2016 - August 2017</p>
                <p class="card-text">•	Greet and welcome residents and guests in a courteous and respectful manner</p>
                <p class="card-text">•	Assist with seating, take food and beverage orders, and serve meals to residents</p>
                <p class="card-text">•	Set and clear dining tables and maintain a clean and organized dining area</p>
                <p class="card-text">•	Wash dishes and utensils, operate commercial dishwashing equipment, and maintain kitchen cleanliness</p>
                <p class="card-text">•	Foster a positive and inclusive environment by treating all residents, guests, and colleagues with respect and dignity</p>
            </div>
        </div>
    </div>
    <br>
</div>