
<div class="background">
    <br>
    <div class="card container" style="width: 25rem;">
        <div class="card-body">
            <h5 class="card-title">Rockhurst University and University of Missouri-Kansas City (Joint Program)</h5>
            <p class="card-text">•	Degree: Bachelors of Science</p>
            <p class="card-text">•	Major: Computer Science</p>
            <p class="card-text">•	GPA: 3.82, Magna Cum Laude</p>
            <p class="card-text">•	<a href="https://www.rockhurst.edu/">Rockhurst University Website</a></p>
            <p class="card-text">•	<a href="https://www.umkc.edu/">UMKC Website</a></p>
        </div>
    </div>
    <br>
</div>